In [ ]:
#How to create functions and Lambda functions

In [8]:
def multiply(x,y=10):
    z = x*y
    #print(z)
    return z

In [9]:
a = multiply(5)

In [10]:
a

50

In [23]:
def financials(revenue, expense):
    profit = revenue-expense
    profitratio = profit/revenue
    return ({'Profit': 'profit', 'Profitratio':profitratio})

In [24]:
a = financials(1000,100)

In [25]:
a

{'Profit': 'profit', 'Profitratio': 0.9}

In [ ]:
f = (temp*9/5)+32

In [26]:
def convertctof(temp):
    f = (temp*9/5) + 32
    return f

In [27]:
convertctof(35)

95.0

In [28]:
ctof = lambda c: 9/5*c + 32

In [29]:
ctof(35)

95.0

In [30]:
multiply_lam = lambda x,y : x*y

In [31]:
multiply_lam(10,5)

50

In [32]:
list1 = [2,4,6,8]

In [ ]:
4,8,12,16

In [38]:
double = map(lambda x : x+x , list1)

In [40]:
double

In [34]:
tuple(double)

(4, 8, 12, 16)

In [35]:
string = ['My', 'Python']

In [41]:
cap = map(lambda x: str.upper(x), string)

In [42]:
tuple(cap)

('MY', 'PYTHON')

In [43]:
age = [32,21,22,32,33,43,44,33,43]

In [45]:
list(filter(lambda x: x>33, age))

[43, 44, 43]

In [46]:
countries = ['India','UAE','US','UK', 'China']

In [48]:
list(filter(lambda x : (len(x)>3), countries))

['India', 'China']

In [51]:
list(filter(lambda x: (x=='UAE') | (x=='India'), countries))

['India', 'UAE']

In [53]:
a=lambda revenue, expense : revenue-expense

In [62]:
c=a(1000,100)

In [63]:
b=lambda c, revenue : c/revenue

In [64]:
b(c,1000)

0.9

In [69]:
marks = 75

In [70]:
if marks<=35:
    print('Failed')
elif marks>35 and marks<=70:
    print('Average')
else:
    print('Outstanding')

Outstanding