# Python Collection DataTypes

1) Lists
2) Tuples
3) Dictionaries
4) Sets

# Dictionaries

In [35]:
mycust = {'cust_id': 1, 'cust_name':'John', 'Region': 'North', 'Course':'Python' }

In [3]:
mycust['cust_name']

'John'

In [4]:
mycust['cust_name'] = 'James'

In [5]:
mycust

{'cust_id': 1, 'cust_name': 'James', 'Region': 'North', 'Course': 'Python'}

In [6]:
mycust['Gender']='Male'

In [7]:
mycust

{'cust_id': 1,
 'cust_name': 'James',
 'Region': 'North',
 'Course': 'Python',
 'Gender': 'Male'}

In [8]:
mycust.clear()

In [9]:
mycust

{}

In [12]:
my_cust= mycust.copy()

In [13]:
mycust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North', 'Course': 'Python'}

In [14]:
my_cust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North', 'Course': 'Python'}

In [15]:
del my_cust

In [17]:
my_cust= mycust.fromkeys({'cust_id', 'Region'}, 'NA')

In [18]:
my_cust

{'cust_id': 'NA', 'Region': 'NA'}

In [19]:
del my_cust

In [22]:
mycust.get('cust_name')

'John'

In [24]:
mycust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North', 'Course': 'Python'}

In [23]:
mycust.items()

dict_items([('cust_id', 1), ('cust_name', 'John'), ('Region', 'North'), ('Course', 'Python')])

In [25]:
mycust.keys()

dict_keys(['cust_id', 'cust_name', 'Region', 'Course'])

In [26]:
mycust.pop('cust_id')

1

In [67]:
mycust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North', 'Course': None}

In [68]:
a=mycust.popitem()

In [69]:
a

('Course', None)

In [49]:
a= mycust.popitem()

In [59]:
mycust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North', 'Course': None}

In [41]:
a

('Region', 'North')

In [53]:
mycust.setdefault('Course')

In [55]:
mycust['Region'] = 'North'

In [57]:
mydict1 = {'a':1, 'b':'Rahul'}

In [58]:
mydict1

{'a': 1, 'b': 'Rahul'}

In [60]:
mycust.update(mydict1)

In [61]:
mycust

{'cust_id': 1,
 'cust_name': 'John',
 'Region': 'North',
 'Course': None,
 'a': 1,
 'b': 'Rahul'}

In [63]:
mycust.values()

dict_values([1, 'John', 'North', None, 1, 'Rahul'])

In [75]:
dict({1:1,3:5})

{1: 1, 3: 5}

In [77]:
#once done with the function explore this from your side
def convert(a):
    it = iter(lst)
    res_dct = dict(zip(it,it))
    return res_dct

lst = ['a',1,'b',2,'c',3]
print(convert(lst))

{'a': 1, 'b': 2, 'c': 3}

In [78]:
len(mycust)

3

In [79]:
mycust

{'cust_id': 1, 'cust_name': 'John', 'Region': 'North'}

In [80]:
mydict={'a':1, 'b':2, 'c':3}
mydict1 = {'b':2, 'c':3}

In [83]:
#Rahul will check this
cmp(mydict1,mydict)

NameError: name 'cmp' is not defined

In [84]:
mystud = {'stuid': [1,2,3,4,5],
         'studname':['A','B','C','D','E'],
         'course':['Py','R','Tab','R','Py']}

In [85]:
mystud

{'stuid': [1, 2, 3, 4, 5],
 'studname': ['A', 'B', 'C', 'D', 'E'],
 'course': ['Py', 'R', 'Tab', 'R', 'Py']}

In [88]:
mystud = {'stuid': [1,2,3,4,5],
         'studname':['A','B','C','D'],
         'course':['Py','R','Tab','R','Py']}

In [90]:
mystud

{'stuid': [1, 2, 3, 4, 5],
 'studname': ['A', 'B', 'C', 'D'],
 'course': ['Py', 'R', 'Tab', 'R', 'Py']}

In [86]:
import pandas as pd

In [91]:
pd.DataFrame(mystud)

ValueError: arrays must all be same length

# Sets

In [103]:
myset = {1,1,2,3,4,4,5,5,6,7,8,8,9,9}

In [106]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [96]:
myset.add(32)

In [99]:
myset.update([43,56,76,77,67])

In [100]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 32, 43, 56, 67, 76, 77}

In [101]:
myset.clear()

In [105]:
myset[0]=10

TypeError: 'set' object does not support item assignment

In [107]:
myset1=myset.copy()

In [108]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
myset.difference(myset1)

set()

In [118]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [111]:
myset1 = {1,2,3,3,4}

In [113]:
myset.difference(myset1)

{5, 6, 7, 8, 9}

In [114]:
A = {10, 20, 30, 40, 80} 
B = {100, 30, 80, 40, 60}

In [115]:
A.difference_update(B)

In [116]:
A

{10, 20}

In [117]:
B

{30, 40, 60, 80, 100}

In [144]:
myset.discard([5,6,7])

TypeError: unhashable type: 'list'

In [125]:
myset

{1, 2, 5, 6, 7, 8, 9}

In [143]:
myset.remove([5,6,7])

TypeError: unhashable type: 'list'

In [122]:
myset

{1, 2, 5, 6, 7, 8, 9}

In [154]:
myset.pop()

5

In [155]:
myset.update([1,2,3,4,5])

In [156]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [157]:
myset1

{1, 2, 3, 4}

In [158]:
myset.intersection(myset1)

{1, 2, 3, 4}

In [159]:
myset.intersection_update(myset1)

In [160]:
myset

{1, 2, 3, 4}

In [163]:
myset.isdisjoint(myset1)

False

In [164]:
myset={1,2,3,4}

In [172]:
myset1={1,2,3}

In [170]:
myset.isdisjoint(myset1)

True

In [174]:
myset.issuperset(myset1)

True

In [175]:
myset1.issubset(myset)

True

In [176]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

In [177]:
A.symmetric_difference(B)

{'a', 'b', 'e'}

In [178]:
A.symmetric_difference_update(B)

In [179]:
A

{'a', 'b', 'e'}

In [181]:
A.union(B)

{'a', 'b', 'c', 'd', 'e'}

In [182]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [185]:
coupouns = 5
utilized = 0
while utilized<6:
    print('Hey guys, total coupouns left are: ' , coupouns-utilized)
    utilized=utilized+1
print('No coupouns left')

Hey guys, total coupouns left are:  5
Hey guys, total coupouns left are:  4
Hey guys, total coupouns left are:  3
Hey guys, total coupouns left are:  2
Hey guys, total coupouns left are:  1
Hey guys, total coupouns left are:  0
No coupouns left

In [ ]:
while condition {
    statement1
    statement2
}
statement3

while condition:
    statement1
    statement2
statement3

In [203]:
N=int(input()) 
N_sum=0 
while N>0:    
    N_sum=N_sum+(N%10)   
    N=N//10 
print(N_sum)

4235
14

In [210]:
4%10

4

In [211]:
2//10

0