# Types of variables

Here we are going to talk about all the different types of variables 
1) String
2) Integer
3) Float
4) Boolean

In [1]:
sales = 150.5

In [2]:
type(sales)

float

In [5]:
quantity = 10

In [6]:
type(quantity)

int

In [18]:
customer_name = "John123"

In [19]:
type(customer_name)

str

In [26]:
a=sales<100

In [28]:
a

False

In [27]:
type(a)

bool

# Python Collection datatypes

1) Lists
2) Tuples
3) Dictionaries
4) Sets

# Lists

In [29]:
mystudages = [21,32,22,34,33,43,44,33,22,33,22,33,44,33]

In [31]:
type(mystudages)

list

In [32]:
mystudages[0]

21

In [34]:
mystudages[13]

33

In [35]:
mystudages[-1]

33

In [36]:
mystudages[3:6]

[34, 33, 43]

In [64]:
mystudages = [21,32,22,34,33,43,44,33,22,33,22,33,44,33]

In [41]:
mystudages[-1:-7:-1]

[33, 44, 33, 22, 33, 22]

In [42]:
mystudages[7:-1]

[33, 22, 33, 22, 33, 44]

In [43]:
mystudages[-7:-1]

[33, 22, 33, 22, 33, 44]

In [44]:
mystudages[-1:-7:-2]

[33, 33, 33]

In [45]:
len(mystudages)

14

In [46]:
max(mystudages)

44

In [47]:
min(mystudages)

21

In [48]:
sum(mystudages)

449

In [49]:
del mystudages

In [52]:
mystudages

[21, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [54]:
del mystudages[2]

In [56]:
mystudages[0]=31

In [57]:
mystudages

[31, 32, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [58]:
mystudages.append(100)

In [59]:
mystudages

[31, 32, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33, 100]

In [60]:
mystudages.insert(4, 37)

In [61]:
mystudages

[31, 32, 34, 33, 37, 43, 44, 33, 22, 33, 22, 33, 44, 33, 100]

In [62]:
mystudages.clear()

In [75]:
mystudages

[21, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [66]:
mylist1 = mystudages.copy()

In [70]:
mylist1[0]=0

In [71]:
mylist1

[0, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [68]:
mylist2 = mystudages[0:14]

In [73]:
mylist2[0]=100

In [74]:
mylist2

[100, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [76]:
mystudages[0]=1000

In [77]:
mystudages

[1000, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [78]:
mylist1

[0, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [79]:
mylist2

[100, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33]

In [80]:
del mylist1

In [81]:
del mylist2

In [83]:
mystudages.count(33)

5

In [85]:
mystudages.extend([10,100,1000])

In [101]:
mystudages.append([10,10])

In [105]:
del mystudages[-1]

In [99]:
mystudages

[1000, 32, 22, 34, 33, 43, 44, 33, 22, 33, 22, 33, 44, 33, 10, 100, 1000]

In [100]:
mystudages.index(22)

2

In [109]:
mystudages.pop(0)

1000

In [115]:
mystudages.remove(44)

In [117]:
mystudages.reverse()

In [119]:
mystudages.sort()

In [121]:
mystudages.reverse()

In [122]:
mystudages

[1000, 100, 43, 34, 33, 33, 33, 33, 33, 32, 22, 22, 22, 10]

In [123]:
mylist = [10,'A', 5.5, True]

In [128]:
type(mylist[3])

bool

In [132]:
mystudages[0:3] = [10,100,100]

In [134]:
del mystudages[0:3]

In [137]:
help (sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [141]:
mystudages

[34, 33, 33, 33, 33, 33, 32, 22, 22, 22, 10]

In [144]:
mystudages.remove([0:3])

SyntaxError: invalid syntax (<ipython-input-144-5ddf9d9f82dc>, line 1)

# Tuples

In [145]:
myfirsttuple = (21,22,32,33,45,53)

In [146]:
type(myfirsttuple)

tuple

In [147]:
myfirsttuple[0]=100

TypeError: 'tuple' object does not support item assignment

In [148]:
myfirsttuple.count(21)

1

In [150]:
myfirsttuple.index(21)

0

In [151]:
sum(myfirsttuple)

206

In [152]:
min(myfirsttuple)

21

In [153]:
max(myfirsttuple)

53

In [154]:
len(myfirsttuple)

6

In [155]:
del myfirsttuple

In [156]:
myfirsttuple

NameError: name 'myfirsttuple' is not defined

In [162]:
myfirstuple=(10,100)

In [163]:
type(myfirstuple)

tuple

# For Loop

In [ ]:
for condition {
    statement1
    statement2
}
statement3

for condition:
    statement1
    statement2
statement3

In [168]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
for i in range(0,10):
    print(i)
print('hi')

0
1
2
3
4
5
6
7
8
9
hi

In [175]:
stud = ['A','B','C','D']
marks = [32,33,43,44]
age = [34,44,55,44]

In [180]:
for (s,m,a) in zip(stud, marks, age):
    print('Hi', s, 'your marks is =', m, 'and your age is = ', a)

Hi A your marks is = 32 and your age is =  34
Hi B your marks is = 33 and your age is =  44
Hi C your marks is = 43 and your age is =  55
Hi D your marks is = 44 and your age is =  44

In [179]:
sales = [3434,5555,4554,4445]
profit = [343,333,544,555]

In [181]:
profit/sales

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [182]:
profitratio = []
for i in range(0, len(sales)):
    profitratio.append(profit[i]/sales[i])
profitratio

[0.09988351776354105,
 0.05994599459945995,
 0.11945542380324989,
 0.12485939257592801]

In [186]:
z=[]
for (i,j) in zip(profit,sales):
    z.append(i/j)
z

[0.09988351776354105,
 0.05994599459945995,
 0.11945542380324989,
 0.12485939257592801]

In [188]:
z=[]
for (i,j) in zip(profit,sales):
    z=(i/j)
z

0.12485939257592801

In [196]:
len(mylist)

6

In [199]:
mylist

[1, 2, 3, 4, 5, 6]

In [194]:
for i in range(len(mylist)-1,-1,-1):
    print(mylist[i])

6
5
4
3
2
1

In [195]:
list(range(5,-1,-1))

[5, 4, 3, 2, 1, 0]

In [198]:
list(range(5,-1,-1))

[5, 4, 3, 2, 1, 0]